body{
    position:relative;
    padding-left: 20px;
}
header{
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    color: #fff;
    text-align: center;
    height: 15vh;
    font-size: 80px;
    margin-top: -1vh;
    margin-left: -3.5vh;
    width: 99vw;
    padding: 10px;
    font-family: 'Dancing Script', cursive;
}
#imageleft{
    height: 100px;
    width: 100px;
}
#imageright{
    height: 80px;
    width: 80px;
    
}
.headerImageLeft{
    float: left;
    margin-top: 10px;
    margin-left: 12px;
}
.headerImageRight{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
nav{
    padding: 15px;
    margin-left: -2vw;
    width: 98vw;
}
#brand_menu{
    padding-top: 25px;
}
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
  
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
#profile_pic{
    float:right;
    position: relative;
    right:4vw;
    top:1vh;
    border-radius: 35px;
}
.dropdown{
    background-color: white;
    color: #f30b87;
    font-size: larger;
    border: 2px solid #f30b87;
    border-radius: 10px;
}
#avatar{
    position:relative;
    left: 30vw;

}
#dress_name{
    float:right;
    
}
